
.logo {
    width: 20%;

}

#header {
    text-align: center;
border-bottom: 2px solid black;}

.izquierda{
    float:left;
}

.derecha{
    float: right;
}
ul#menu {
    background: rgb(43, 187, 235);
    width: auto;
    height: 20px;
    float:center;
    padding: 10px 10px 10px 350px;
}
 
ul#menu li {
    color: #fff;
    float: left;
    list-style: none;
    margin: 0% 5%;
}
 
ul#menu li:hover{
    color: rgb(174, 223, 240);
    cursor:pointer;
}
 
ul#menu ul {
    display: none;
    position: absolute;
    top: auto;
    background: rgb(43, 187, 235);
    color: #fff;
    padding: 5px 0px 5px 5px;
    margin: 0;
}
 
ul#menu ul li{
    float: left;
    color: #fff;
    width:100%;
    margin:2% 0%;
}


ul#menu ul li a{
    color: #fff;
}
 
ul#menu ul li a:hover{
    color: rgb(147, 211, 233);
    cursor:pointer;
}
 
ul#menu li:hover ul ul,ul#menu li:hover ul ul ul,ul#menu li.iehover ul ul,ul#menu li.iehover ul ul ul {
    display: none;
    cursor:pointer;
}
 
ul#menu li:hover ul,ul#menu ul li:hover ul,ul#menu ul ul li:hover ul,ul#menu li.iehover ul,ul#menu ul li.iehover ul,ul#menu ul ul li.iehover ul {
    display: block;
    cursor:pointer;
}